{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% tailwind_css %}
</head>
<body>
<div class="mt-64">
    <div class="flex justify-center items-center mb-64">
        <div class="ml-5 mr-5 py-5 px-5 bg-primary mx-auto rounded-[5px] w-full max-w-md">
            <h2 class="text-center justify-center font-barlow font-semibold text-black text-xl mb-5 mt-5">
                {% trans "Password Reset" %}
            </h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="mb-2 text-sm font-barlow text-primary text-center">
                {% trans "Enter your e-mail address to help you reset your password." %}
            </p>
            <hr class="border-1 border-secondary mb-5">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="mb-6">
                {% include 'account/_form_errors.html' with form_field=form.email %}
                <label for="id_email" class="block mb-2 text-sm font-medium font-barlow text-primary">Enter your email</label>
                {% render_field form.email type='email' maxlength='320' name='email' autocomplete='email' id='id_email' class='bg-transparent border border-secondary text-secondary text-sm rounded-[5px] focus:ring-secondary focus:border-secondary block w-full p-2.5' placeholder='Enter your email...' %}
                <div class="mt-5 flex justify-center">
                    <input type="submit" value="{% trans 'Reset Password' %}" class="rounded-[5px] text-black font-semibold font-barlow w-full p-2 hover:cursor-pointer bg-secondary"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>