{% load static tailwind_tags %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex justify-center items-center h-screen">
        <div class="ml-5 mr-5 py-5 px-5 bg-primary mx-auto rounded-[5px] w-full max-w-md">
            <h2 class="text-center justify-center font-barlow font-semibold text-black text-xl mb-5 mt-5">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
            </h2>
            <hr class="border-1 border-secondary mb-5">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="font-barlow text-black text-sm mt-5">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                    {% csrf_token %}
                    <div class="mb-6">
                        {% include 'account/_form_errors.html' with form_field=form.password1 %}
                        <label for="id_password1" class="block mb-2 text-sm font-medium font-barlow text-black">Enter new password</label>
                        {% render_field form.password1  type="password" name="password1" autocomplete="new-password" id="id_password1" class="bg-transparent border border-secondary text-secondary text-sm rounded-[5px] focus:ring-secondary focus:border-secondary block w-full p-2.5" placeholder="Enter new password.."%}
                    </div>
                    
                    <div class="mb-6">
                        {% include 'account/_form_errors.html' with form_field=form.password2 %}
                        <label for="id_password2" class="block mb-2 text-sm font-medium font-barlow text-black">Confirm new password</label>
                        {% render_field form.password2 type="password" name="password2" autocomplete="new-password" id="id_password2" class="bg-transparent border border-secondary text-secondary text-sm rounded-[5px] focus:ring-secondary focus:border-secondary block w-full p-2.5" placeholder="Confirm new password.." %}
                    </div>
                    <div class="mt-5 flex justify-center">
                        <input type="submit" name="action" class="w-full text-xl text-black font-barlow focus:ring-4 focus:outline-none focus:ring-primary font-semibold rounded-[5px] px-4 py-2 text-center mr-3 md:mr-0 hover:cursor-pointer bg-secondary" value="{% trans 'change password' %}"/>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>