{% load static tailwind_tags %}
{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex justify-center items-center h-screen">
        <div class="ml-5 mr-5 py-5 px-5 bg-primary mx-auto rounded-[5px] w-full max-w-md items-center text-center">
            <i class="fa-solid fa-circle-check fa-4x text-secondary"></i>
            <p class="font-barlow text-black text-lg mt-5">{% trans 'Your password is now changed!' %}</p>
            <div class="mt-5 flex justify-center">
                <a href="{% url 'account_login' %}" class="w-full text-xl text-white font-barlow bg-secondary hover:bg-red-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-primary font-semibold rounded-[5px] px-4 py-2 text-center mr-3 md:mr-0">
                    <button type="submit">{% trans "Login" %}</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>